/* indices */
.indiceContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: linear-gradient(135deg, #1e1e2f, #282c34);
  color: #fff; 
  border-radius: 12px;
  width: 98%;
  height: 620px;
}

.indiceSection {
  text-align: center;
}

.indiceSection h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.indiceSection p {
  font-size: 17px;
  line-height: 1.5;
  color: #ccc;
}

.contentContainer {
  display: flex;
  flex-direction: column;
}

.botonesContainer {
  display: flex;
  gap: 10px;
  max-height: 110px;
  padding: 10px;
  background: linear-gradient(135deg, #252532, #25282c);  border-radius: 10px;
  justify-content: center;
}

.indiceBoton {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.indiceBoton:hover {
  background-color: #555;
}

.indiceBoton.tachado {
  text-decoration: line-through;
  color: #777; 
}
