.stockSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #1e1e2f, #282c34);
  border-radius: 12px 12px 0 0;
  margin-bottom: 0;
  width: 98%;
}

.stockSection h2 {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.stockSection p {
  color: #ccc;
  font-size: 1.2rem;
  text-align: center;
  line-height: 0.1;
  max-width: 800px;
}

.stockContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 98%;
  padding: 20px;
  background: linear-gradient(135deg, #1e1e2f, #282c34);
  border-radius: 0 0 12px 12px;
}

.marcasContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 15px;
  background-color: #333;
  border-radius: 12px;
  width: 200px;
}

.marcaBoton {
  color: #fff;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.marcaBoton.active {
  background-color: #0068d6;
  color: #252525;
  border: 1px solid #0056b3;
}

.marcaBoton:hover {
  background-color: #007bff;
  color: #e0e0e0;
}

.marcaBoton::after {
  content: attr(title);
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.marcaBoton:hover::after {
  opacity: 1;
}

.chartContainer {
  flex-grow: 1;
  height: 400px;
  background-color: #1e1e1e;
  border-radius: 12px;
}

.botonGrafico {
  margin: 10px 0;
  padding: 8px 16px;
  background-color: #36A2EB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.botonGrafico:hover {
  background-color: black;
}
